In [2]:
import pandas as pd # type: ignore
import numpy as np
import matplotlib as plot # type: ignore

In [3]:
df = pd.read_csv("deliveries.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [4]:
# different types of extras

df['extras_type'].value_counts()

extras_type
wides      7651
legbyes    3778
noballs    1000
byes        628
penalty       2
Name: count, dtype: int64

In [5]:
# bowler who has bowled most balls in ipl

df['bowler'].value_counts().head(10)

bowler
R Ashwin           4333
SP Narine          3812
B Kumar            3703
PP Chawla          3680
RA Jadeja          3610
Harbhajan Singh    3496
A Mishra           3432
DJ Bravo           3296
YS Chahal          3266
UT Yadav           3061
Name: count, dtype: int64

In [25]:
# Assuming df is your DataFrame with columns 'batter' and 'non_striker'

# Count the number of balls faced by each batter
batter_counts = df['batter'].value_counts()

# Count the number of balls faced by each non-striker
non_striker_counts = df['non_striker'].value_counts()

# Sum the counts of balls faced by each player
total_balls_faced = batter_counts.add(non_striker_counts, fill_value=0)

total_balls_faced.sort_values(ascending=False).head()

V Kohli      11296.0
S Dhawan     11194.0
RG Sharma     9824.0
DA Warner     9257.0
SK Raina      8486.0
Name: count, dtype: float64

In [7]:
# most balls in an over

max_balls_index = df["ball"].idxmax()
max_balls_row = df.loc[max_balls_index]

print("Bowler with the maximum balls in an over:")
print(max_balls_row["bowler"])

Bowler with the maximum balls in an over:
Mohammed Siraj

In [8]:
# different types of dismisal in ipl

df['dismissal_kind'].value_counts()

dismissal_kind
caught                   7437
bowled                   2089
run out                  1062
lbw                       750
caught and bowled         349
stumped                   345
retired hurt               15
hit wicket                 15
retired out                 3
obstructing the field       2
Name: count, dtype: int64

In [9]:
# most dismissed batsman

df["player_dismissed"].value_counts().head()

player_dismissed
RG Sharma     210
V Kohli       195
S Dhawan      188
RV Uthappa    180
KD Karthik    175
Name: count, dtype: int64

In [10]:
# Filter the DataFrame based on the condition
wides_df = df[df['extras_type'] == 'wides']

# Group by the bowler and count the number of wides bowled by each bowler
bowler_wides_count = wides_df.groupby('bowler').size()

# Find the bowler who has bowled the most wides
most_wides_bowler = bowler_wides_count.idxmax()
most_wides_count = bowler_wides_count.max()

print(f"The bowler who has bowled the most wides is {most_wides_bowler} with {most_wides_count} wides.")

The bowler who has bowled the most wides is DJ Bravo with 167 wides.

In [26]:
# Filter the DataFrame based on the condition
noballs_df = df[df['extras_type'] == 'noballs']

# Group by the bowler and count the number of wides bowled by each bowler
bowler_noballs_count = noballs_df.groupby('bowler').size()

bowler_noballs_count.sort_values(ascending=False).head(10)

bowler
JJ Bumrah            29
UT Yadav             23
S Sreesanth          23
I Sharma             22
A Mishra             21
SL Malinga           18
M Prasidh Krishna    16
HV Patel             14
AB Dinda             14
M Morkel             13
dtype: int64