In [1]:
import pandas as pd # type: ignore
import numpy as np
import matplotlib as plot # type: ignore

In [2]:
df = pd.read_csv("deliveries.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [3]:
# different types of extras

df['extras_type'].value_counts()

extras_type
wides      7651
legbyes    3778
noballs    1000
byes        628
penalty       2
Name: count, dtype: int64

In [4]:
# bowler who has bowled most balls in ipl

round(df['bowler'].value_counts().tail(10))

bowler
Aman Hakim Khan    6
RS Gavaskar        6
RA Shaikh          6
AM Rahane          6
D Brevis           3
SN Khan            2
SPD Smith          2
DA Warner          2
AC Gilchrist       1
YBK Jaiswal        1
Name: count, dtype: int64

In [5]:
# Assuming df is your DataFrame with columns 'batter' and 'non_striker'

# Count the number of balls faced by each batter
batter_counts = df['batter'].value_counts()

# Count the number of balls faced by each non-striker
non_striker_counts = df['non_striker'].value_counts()

# Sum the counts of balls faced by each player
total_balls_faced = batter_counts.add(non_striker_counts, fill_value=0)

total_balls_faced.sort_values(ascending=False).head()

V Kohli      11296.0
S Dhawan     11194.0
RG Sharma     9824.0
DA Warner     9257.0
SK Raina      8486.0
Name: count, dtype: float64

In [6]:
# most balls in an over

max_balls_index = df["ball"].idxmax()
max_balls_row = df.loc[max_balls_index]

print("Bowler with the maximum balls in an over:")
print(df[(df["match_id"] == 1359479) & (df['over'] == 18)]['extras_type'])

Bowler with the maximum balls in an over:
227030      NaN
227031      NaN
227032    wides
227033    wides
227034    wides
227035    wides
227036      NaN
227037      NaN
227038    wides
227039      NaN
227040      NaN
Name: extras_type, dtype: object

In [7]:
# different types of dismisal in ipl

df['dismissal_kind'].value_counts()

dismissal_kind
caught                   7437
bowled                   2089
run out                  1062
lbw                       750
caught and bowled         349
stumped                   345
retired hurt               15
hit wicket                 15
retired out                 3
obstructing the field       2
Name: count, dtype: int64

In [8]:
# most dismissed batsman

df["player_dismissed"].value_counts().head()

player_dismissed
RG Sharma     210
V Kohli       195
S Dhawan      188
RV Uthappa    180
KD Karthik    175
Name: count, dtype: int64

In [9]:
# Filter the DataFrame based on the condition
wides_df = df[df['extras_type'] == 'wides']

# Group by the bowler and count the number of wides bowled by each bowler
bowler_wides_count = wides_df.groupby('bowler').size()

# Find the bowler who has bowled the most wides
most_wides_bowler = bowler_wides_count.idxmax()
most_wides_count = bowler_wides_count.max()

print(f"The bowler who has bowled the most wides is {most_wides_bowler} with {most_wides_count} wides.")

The bowler who has bowled the most wides is DJ Bravo with 167 wides.

In [10]:
# Filter the DataFrame based on the condition
noballs_df = df[df['extras_type'] == 'noballs']

# Group by the bowler and count the number of wides bowled by each bowler
bowler_noballs_count = noballs_df.groupby('bowler').size()

bowler_noballs_count.sort_values(ascending=False).head()

bowler
JJ Bumrah      29
UT Yadav       23
S Sreesanth    23
I Sharma       22
A Mishra       21
dtype: int64

In [11]:
df[df["dismissal_kind"] == "hit wicket"].head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
2358,335991,2,Mumbai Indians,Kings XI Punjab,17,2,MA Khote,S Sreesanth,DS Kulkarni,0,0,0,NaN,1,MA Khote,hit wicket,NaN
8031,336016,1,Royal Challengers Bangalore,Kings XI Punjab,4,6,Misbah-ul-Haq,S Sreesanth,V Kohli,0,0,0,NaN,1,Misbah-ul-Haq,hit wicket,NaN
18029,392202,2,Rajasthan Royals,Chennai Super Kings,5,3,SA Asnodkar,JA Morkel,RJ Quiney,0,0,0,NaN,1,SA Asnodkar,hit wicket,NaN
59825,548311,1,Chennai Super Kings,Deccan Chargers,17,2,RA Jadeja,DW Steyn,DJ Bravo,0,0,0,NaN,1,RA Jadeja,hit wicket,NaN
72773,548367,1,Royal Challengers Bangalore,Mumbai Indians,6,3,SS Tiwary,Harbhajan Singh,TM Dilshan,0,0,0,NaN,1,SS Tiwary,hit wicket,NaN

In [12]:
df[df['dismissal_kind'] == 'bowled']['bowler'].value_counts().head()

bowler
SL Malinga    63
PP Chawla     48
SP Narine     46
RA Jadeja     39
B Kumar       38
Name: count, dtype: int64

In [13]:
df[df["dismissal_kind"] == "caught and bowled"]["bowler"].value_counts().head()

bowler
Harbhajan Singh    11
DJ Bravo           11
SP Narine           8
RA Jadeja           7
Kuldeep Yadav       7
Name: count, dtype: int64